.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: fixed;
    background-color: black;
    width: 200px;
    height: 100vh;
    z-index: 100;
}

.link {
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    margin-left: 0;

    &:hover {
        cursor: pointer;
        font-weight: 550;
    }
}

.active {
    font-weight: 550;
}
